.card {
  border: 5px solid #599cfb;
  border-top: none;
  border-bottom: none;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0ee5ff;
  overflow: hidden;
}
.card.onAnimation {
  animation: closePokedex 1.2s linear;
}
.card.onAnimation .card-body-container {
  display: none;
}
.card.onAnimation .card-body-description {
  display: none;
}

.card-body {
  background-color: #7eefff;
  width: 90%;
  min-height: 75%;
  border: 5px solid #081921;
}
.card-body-container {
  height: 60%;
  display: flex;
  border-bottom: 2px solid #081921;
}
.card-body-container > img {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(#599cfb 2px, transparent 2px),
    linear-gradient(to right, #599cfb 2px, transparent 2px);
  background-size: 24px 24px;
  background-color: #7eefff;
  border-right: 2px solid #081921;
}
.card-body-container-infos {
  width: 50%;
  height: 100%;
  background-color: #7eefff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-body-container-infos > h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  margin: 5px 0;
}
.card-body-container-infos > p {
  font-size: 12px;
  padding: 0 10px;
}
.card-body-container-infos-stats {
  border-top: 2px solid #081921;
  display: flex;
  padding: 5px;
  gap: 5px;
  flex-wrap: wrap;
}
.card-body-container-infos-stats-type {
  color: white;
  background-color: #081921;
  padding: 2px;
  border-radius: 3px;
  border: 2px solid black;
  font-size: 10px;
  font-weight: bold;
}

.card-body-description {
  width: 100%;
  height: auto;
  padding: 10px;
  text-wrap: wrap;
}
.card-body-description > p {
  font-size: 12px;
}

@keyframes closePokedex {
  from {
    height: 350px;
  }
  50% {
    height: 0px;
  }
  to {
    height: 350px;
  }
}
