<footer>
  <div class="container-created-for">
    <p>
      Created by
      <a href="https://github.com/oliveiravitor32" target="_blank"
        >Vitor Oliveira</a
      >
    </p>
  </div>
  <div class="container-social">
    <a href="https://github.com/oliveiravitor32" target="_blank">Github</a>
    <a href="https://github.com/oliveiravitor32/angular-pokedex" target="_blank"
      >Code</a
    >
    <a href="https://www.linkedin.com/in/vitor-oliveira32" target="_blank"
      >Linkedin</a
    >
  </div>
  <div class="container-credits">
    <h3>
      Crédits: Design inspiration by Pokedex XY and
      <a
        href="https://dribbble.com/shots/2975188-Apple-Poke-Dex"
        target="_blank"
        >designer</a
      >
    </h3>
  </div>
</footer>
