footer {
  display: flex;
  width: 100%;
  padding: 10px 10px;
  background-color: #081921;
  color: white;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 16px;
  height: 10vh;
}

footer a {
  text-decoration: none;
  color: rgb(207, 80, 80);
}
footer a:hover {
  color: #599cfb;
}

footer .container-social {
  display: flex;
  gap: 8px;
}
